// MEJOR ASI, sacar todo del root y poner asi:
// Donde ponía: font-family: var(--font-normal)
// pongo: font-family: $font-normal;


:root {
    --greyish-brown: #4a4a4a;
    --k-50: rgba(0, 0, 0, 0.5);
    --k-50: rgba(0, 0, 0, 0.5);
    --lightblue: #8ccbea;
    --k-20: rgba(0, 0, 0, 0.2);
    --white: #fff;
    --black: #000;
    --bright-orange: #f26002;
    --ice-blue: #eff9ff;
    --dark-grey-blue: #304268;
  }

