.footer {
    width: 100vw;
    height: 29rem;
    background-color: $dark-grey-blue;
    position: relative;

    &__arrow {
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 1.4rem;
        background-color: $white;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;  
        top: 0;  
        left: 50%;  
        transform: translate(-50%, -50%);
    }

    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__items {
        text-align: center;
        text-transform: uppercase;
        font-family: $font-normal;
        font-size: 1rem;
        line-height: 1.88;
        height: 9.37rem;
        margin-top: 1.87rem;
        padding-top: 1.87rem;
    }

    &__link {
        color: $white;
        text-decoration: none;
    }

    &__copyright {
        margin: 1.87rem 6.68rem 0 6.6rem;
        font-family: $font-normal;
        font-size: 0.87rem;
        line-height: 2.14;
        color: $white;
    }

    &__components {
        height: 1.87rem;
        font-family: $font-normal;
        font-size: 0.87rem;
        line-height: 2.14;
        color: $white;
    }

    &__heart {
        color: $bright-orange;
    }
}