.footer {
    width: 100vw;
    background-color: $dark-grey-blue;
    position: relative;

    &__arrow {
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 1.4rem;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;  
        left: 50%;  
        transform: translate(-50%, -50%);
        transition: transform 0.3s ease, background-color 0.3s ease;

        &:hover {
            background-color: $lightblue;
            transform: translate(-50%, -60%);
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.87rem 0 2.81rem;

        @include tablet {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: start; 
            gap: 1.87rem;
        }
    }

    &__links {
        @include tablet {
            display: flex;
            flex-direction: row;
            align-items: start;
            gap: 1.87rem; 
        }
    }

    &__items {
        text-align: center;
        text-transform: uppercase;
        font-family: $font-normal;
        font-size: 1rem;
        line-height: 1.88;
        margin-top: 1.87rem;

        @include tablet {
            text-align: left;
            width: 13.12rem;
            margin-top: 0.93rem;
        }

        @include desktop {
            width: 10rem;
        }
    }

    &__link {
        color: $white;
        text-decoration: none;
    }

    &__latest {
        margin-top: 1.87rem;

        @include tablet {
            margin-top: 0.93rem;
            width: 13.12rem;
        }

        @include desktop {
            width: 10rem;
        }
    }
    
        &__copyright {
            font-family: $font-normal;
            font-size: 0.87rem;
            line-height: 2.14;
            color: $white;
            text-align: center;

            @include tablet {
                text-align: left;
            }
        }

        &__components {
            font-family: $font-normal;
            font-size: 0.87rem;
            line-height: 2.14;
            color: $white;
            text-align: center;

            @include tablet {
                text-align: left;
            }
        }
        
        &__heart {
            color: $bright-orange;
        }
}