.footer {
    width: 100vw;
    height: 29rem;
    background-color: $dark-grey-blue;
    position: relative;

    @include tablet {
        height: 15rem; 
    }

    &__arrow {
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 1.4rem;
        background-color: $white;
        // z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;  
        // top: 0;  
        left: 50%;  
        transform: translate(-50%, -50%);
        transition: transform 0.3s ease, background-color 0.3s ease;

        &:hover {
            background-color: $lightblue;
            transform: translate(-50%, -60%);
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;

        @include tablet {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-evenly;
            align-items: center; 
        }
    }

    &__links {
        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center; 
        }
    }

    &__items {
        text-align: center;
        text-transform: uppercase;
        font-family: $font-normal;
        font-size: 1rem;
        line-height: 1.88;
        height: 9.37rem;
        margin-top: 1.87rem;
        padding-top: 1.87rem;

        @include tablet {
            display: flex;
            flex-direction: column;
            // justify-content: space-evenly;
            align-items: start; 
        }
    }

    &__link {
        color: $white;
        text-decoration: none;
    }

    &__latest {
        @include tablet {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start; 
            margin-left: -150px;
        }
    }

    &__copyright {
        // margin: 1.87rem 6.68rem 0 6.6rem;
        font-family: $font-normal;
        font-size: 0.87rem;
        line-height: 2.14;
        color: $white;
    }

    &__components {
        // height: 1.87rem;
        font-family: $font-normal;
        font-size: 0.87rem;
        line-height: 2.14;
        color: $white;
    }

    &__heart {
        color: $bright-orange;
    }
}