.looking {
    width: 100vw;
    padding: 1.8rem 0.9rem 2.8rem;

    @include tablet {
        padding: 1.8rem 2.4rem 3.75rem;
    }

    @include desktop {
        display: flex;
        justify-content: center;
    }

    &__content {
        @include desktop {
            width: 45.62rem;
        }
    }

    &__tips {
        font-family: $font-normal;
        font-size: 0.87rem;
        line-height: 2.14;
        color: $lightblue;

        @include tablet {
            font-size: 0.87rem;
        }

        @include desktop {
            font-size: 1rem;
        }
    }

    &__title {
        font-family: $font-title;
        font-size: 1.5rem;
        line-height: 1.87rem;
        font-weight: bold;
        color: $black;

        @include tablet {
            font-size: 1.6rem;
            margin-top: 0;
        }

        @include desktop {
            font-size: 2rem;
            margin-top: 0;
        }
    }

    &__text {
        font-family: $font-normal;
        font-size: 1.12rem;
        line-height: 1.67;
        color: $greyish-brown;
        margin: 0.9rem 0 1.8rem;

        @include tablet {
            font-size: 1.25rem;
            margin: 2.4rem auto;
        }
    }

    &__go {
        font-family: $font-normal;
        font-size: 1.25rem;
        font-weight: 500;
        color: $bright-orange;
        line-height: 2.6rem;

        &:hover {
            color: $lightblue;
        }
    }

    &__go-btn {
        width:4.7rem;
        height: 2.8rem;
        border-radius: 1.4rem;
        border: solid 0.13rem $bright-orange;
        text-align: center;

        &:hover {
            border: solid 0.13rem $lightblue;
        }

        @include tablet {
            width: 5.68rem;
            height: 2.8rem;
        }

        @include desktop {
            width: 10rem;
            height: 2.8rem;
        }
    }
}