.looking {
    width: 100vw;
    padding: 1.8rem 0.9rem 2.8rem;

    @include tablet {
        padding: 1.8rem 2.4rem 3.75rem;
    }

    @include desktop {
        padding: 3.75rem 17.18rem;
    }

    &__tips {
        // display: flex;
        // justify-content: start;
        // align-items: center;
        font-family: 'Roboto', sans-serif;
        font-size: 0.8rem;
        line-height: 2.14;
        color: $lightblue;

        @include tablet {
            font-size: 0.87rem;
        }

        @include desktop {
            font-size: 1rem;
        }
    }

    &__title {
        // display: flex;
        // justify-content: start;
        // align-items: center;
        font-family: 'Roboto Slab', serif;
        font-size: 1.5rem;
        font-weight: bold;
        color: $black;

        @include tablet {
            font-size: 1.6rem;
            margin-top: 0;
        }

        @include desktop {
            font-size: 2rem;
            margin-top: 0;
        }
    }

    &__text {
        // display: flex;
        // justify-content: start;
        // align-items: center;
        font-family: 'Roboto', sans-serif;
        font-size: 1.12rem;
        line-height: 1.67;
        color: $greyish-brown;
        margin: 0.9rem 0 1.8rem;

        @include tablet {
            font-size: 1.25rem;
            margin: 0.9rem 2.10rem 2.4rem 0.2rem;
        }
    }

    &__go {
        font-family: Roboto;
        font-size: 1.25rem;
        font-weight: 500;
        color: $bright-orange;
        line-height: 2.6rem;

        &:hover {
            color: $lightblue;
        }
    }

    &__go-btn {
        width:4.7rem;
        height: 2.8rem;
        border-radius: 1.4rem;
        border: solid 0.13rem $bright-orange;
        text-align: center;

        &:hover {
            border: solid 0.13rem $lightblue;
        }

        @include tablet {
            width: 5.68rem;
            height: 2.8rem;
        }

        @include desktop {
            width: 10rem;
            height: 2.8rem;
        }
    }
}