.looking {
    width: 100vw;
    /*height: 376px;*/
    padding: 30px 15px 45px 15px;

    &__tips {
        display: flex;
        justify-content: start;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 2.14;
        color: $lightblue;
    }

    &__title {
        display: flex;
        justify-content: start;
        align-items: center;
        font-family: 'Roboto Slab', serif;
        font-size: 24px;
        font-weight: bold;
        color: $black;
    }

    &__text {
        display: flex;
        justify-content: start;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        line-height: 1.67;
        color: $greyish-brown;
        margin: 15px 0 30px;
    }

    &__go {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        color: $bright-orange;
        line-height: 42px;
    }

    &__go-btn {
        width: 76px;
        height: 45px;
        border-radius: 22.5px;
        border: solid 2px $bright-orange;
        text-align: center;
    }
}