<footer class="footer">
    <a class="footer__arrow" href="./#header">
      <img src="public/images/ico-arrow.svg" alt="Scroll up">
    </a>
  <menu class="footer__menu"> 
    <nav class="footer__links">
      <ul class="footer__items">
        <li class="footer__item"><a class="footer__link" href="https://adalab.es/" target="_blank">Articles</a></li>
        <li class="footer__item"><a a class="footer__link" href="https://adalab.es/" target="_blank">Books</a></li>
        <li class="footer__item"><a a class="footer__link" href="https://adalab.es/" target="_blank">Events</a></li>
        <li class="footer__item"><a a class="footer__link" href="https://adalab.es/" target="_blank">Reasons</a></li>
        <li class="footer__item"><a a class="footer__link" href="https://adalab.es/" target="_blank">Tips</a></li>
      </ul>
      <ul class="footer__items">
        <li class="footer__item"><a a class="footer__link" href="https://adalab.es/" target="_blank">Twitter</a></li>
        <li class="footer__item"><a a class="footer__link" href="https://adalab.es/" target="_blank">Instagram</a></li>
        <li class="footer__item"><a a class="footer__link" href="https://adalab.es/" target="_blank">Mastdon.social</a></li>
      </ul>
    </nav>
    <div class="footer__copyright">
      <p>Copyright2023</p>
      <p>we (L) components</p>
    </div>
  </menu>
</footer>