<footer>
    <div>Flechita</div>
    <nav>
      <ul class="sections">
        <li><a href="#ARTICLES">ARTICLES</a></li>
        <li><a href="#BOOKS">BOOKS</a></li>
        <li><a href="#EVENTS">EVENTS</a></li>
        <li><a href="#REASONS">REASONS</a></li>
        <li><a href="#TIPS">TIPS</a></li>
      </ul>
    </nav>
    <nav>
      <ul class="social">
        <li><a href="#TWITTER">TWITTER</a></li>
        <li><a href="#INSTAGRAM">INSTAGRAM</a></li>
        <li><a href="#MASTODON.SOCIAL">MASTODON.SOCIAL</a></li>
      </ul>
    </nav>
    <div>
      <p>Copyright2023</p>
      <p>we (L) components</p>
  </div>
  </footer>