<header class="header" id="header">
    <img class="header__img" src="/public/images/cover.jpg" alt="Rascacielos"/>
    <div class="header__burger"><a href="https://adalab.es/" target="_blank">
      <img src="/public/images/ico-menu.svg" alt="Menu">
  </a>  
    </div>
    <article class="header__article">
      <h1 class="header__article__title">ANONYMOUS PROXY</h1>
      <p class="header__article__text">In hac habitasse platea dictumst.</p>
    </article>
    <div class="header__arrow"><a href="#reasons">
      <img src="/public/images/ico-scroll-down.svg" alt="Scroll down">
  </a>
    </div>
</header>