<section class="reasons">
    <h2 class="reasons__title">3 Reasons To Purchase</h2>
      <article class="article">
        <div class="article__body">
          <h3 class="article_title">Ut sed metus</h3>
          <p class="article__text">Lorem ipsum dolor sit amet, consecteur.</p>
        </div>
        <div class="article__body">
          <h3 class="article_title">Curabitur ac erat</h3>
          <p class="article__text">Mauris mattis urna quis lorem molestie.</p>
        </div>
        <div class="article__body">
          <h3 class="article_title">Morbi dictum</h3>
          <p class="article__text">Aliquam in dolor et dolor tincidunt.</p>
        </div>
      </article>
    <div>More reasons</div>  
</section>